# Byte-compiled / optimized / DLL files
__pycache__/

# node modules
node_modules

# npm lockfile
package-lock.json

# yarn configuration file
.yarn*

# the directory where compiled files stay
dist

.DS_Store

src/.DS_Store

../.DS_Store

## sql files
*.db

## .env
**/.env
